node_modules
.env
coverage
coverage.json
typechain
.secret

.DS_Store
*/**/.DS_Store

build

#Hardhat files
cache
artifacts

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
